<!-- This extends the template base allows for overriding the base html-->
{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content
%}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes"></ul>
{% for note in user.notes %}
<li class="list-group-item">
  {{ note.data }}
  <button type="button" class="close" onClick="deleteNote({{note.id}})">
    <span aria-hidden="true">&times;</span>
  </button>
</li>
{% endfor %}
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}

<!-- This might work as a cart list if I add the ability to update with items from the list and totals etc. so this means that it needs to be an actual functioning -->
